#Проигнорируйте файлы, находящиеся в подкаталоге tmp и файлы, заканчивающиеся суффиксами _old, _backup;
#Убедитесь, что также проигнорированы файлы (Thumbs.db и .DS_Store);


# будут игнорироваться все файлы и каталоги Thumbs.db
Thumbs.db

# будут игнорироваться все файлы и каталоги .DS_Store
*.DS_Store

# будет игнорироваться каталог tmp
tmp/

# будут игнорироваться все файлы и каталоги с расширением _old, _backup
*_old
*_backup